<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Arcap</title>
    <link type="text/css" rel="stylesheet" href="/css/font.css" />
    <link type="text/css" rel="stylesheet" href="/css/loginstyle.css" />
    <link type="text/css" rel="stylesheet" href="/thirdparty/css/image-picker.css" />
    <script src="/socket.io/socket.io.js"></script>
     <script src="/thirdparty/js/vue_new.js"></script>
<!--     <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--    <script src="https://unpkg.com/vue"></script>-->
    <script src="/thirdparty/js/jquery.js"></script>
    <script src="/thirdparty/js/image-picker.min.js"></script>
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/css/element-ui.css">
</head>

<body>
    <div id="app"></div>
    <script src="/js/loginapp-bundle.js"></script>
</body>

</html>